<?xml version="1.0"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <!--<add key="url" value="http://www.baidu.com/s?word=" />-->
    <add key="url" value="http://192.168.0.84/epointqxoa/Pages/AttachStorageInfo/ReadAttachFile.aspx?attachguid="></add>    
  </appSettings>
<connectionStrings>
  <add name="conn" connectionString="Data Source=ORCL81;Persist Security Info=True;User ID=EPOINTQX_OA_test;Password=gtig_njyf;Unicode=True" providerName="System.Data.OracleClient"/>
</connectionStrings>
</configuration>
